[Unit]
Description=Restart SC-Controller after sleep
After=suspend.target

[Service]
Type=oneshot
ExecStart=/home/deck/Desktop/sc-controller.appimage daemon restart
RemainAfterExit=true

[Install]
WantedBy=suspend.target
